*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.kicad_prl

*.tmp
*.~*
*~*
*.dcm
*.net
*.xml
*.cmp
*.pro-cache
*.kicad_sch-bak
\#*



*.rpt
*.dsn
*.rules
*.outjob

*-cache.lib
*-cache
*-backups/

*.config
*.session
*.kicad_wks
*.kicad_wks-bak
*.eeschema_bak

*.board_info
*.session

*.cir
*.log
*.raw
*.sp

*.pos
*.step
*.wrl
*.3dshapes

.DS_Store
Thumbs.db
